alembic==1.3.0
apache-airflow==1.10.6
apispec==3.1.0
appnope==0.1.0
argcomplete==1.10.0
astroid==2.3.3
attrs==19.3.0
autopep8==1.4.4
Babel==2.7.0
backcall==0.1.0
bleach==3.1.0
cached-property==1.5.1
certifi==2019.9.11
chardet==3.0.4
Click==7.0
colorama==0.4.1
colorlog==4.0.2
configparser==3.5.3
croniter==0.3.30
decorator==4.4.1
defusedxml==0.6.0
dill==0.3.1.1
docutils==0.15.2
entrypoints==0.3
Flask==1.1.1
Flask-Admin==1.5.3
Flask-AppBuilder==1.13.1
Flask-Babel==0.12.2
Flask-Caching==1.3.3
Flask-JWT-Extended==3.24.1
Flask-Login==0.4.1
Flask-OpenID==1.2.5
Flask-SQLAlchemy==2.4.1
flask-swagger==0.2.13
Flask-WTF==0.14.2
funcsigs==1.0.0
future==0.16.0
graphviz==0.13.2
gunicorn==19.9.0
idna==2.8
importlib-metadata==0.23
ipykernel==5.1.3
ipython==7.9.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
iso8601==0.1.12
isort==4.3.21
itsdangerous==1.1.0
jedi==0.15.1
Jinja2==2.10.3
json-merge-patch==0.2
jsonschema==3.1.1
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.0.0
jupyter-core==4.6.1
lazy-object-proxy==1.4.3
lockfile==0.12.2
Mako==1.1.0
Markdown==2.6.11
MarkupSafe==1.1.1
marshmallow==2.19.5
marshmallow-enum==1.5.1
marshmallow-sqlalchemy==0.18.0
mccabe==0.6.1
mistune==0.8.4
more-itertools==7.2.0
nbconvert==5.6.1
nbformat==4.4.0
notebook==6.0.2
numpy==1.17.3
ordereddict==1.1
pandas==0.25.3
pandocfilters==1.4.2
parso==0.5.1
pendulum==1.4.4
pexpect==4.7.0
pickleshare==0.7.5
prison==0.1.0
prometheus-client==0.7.1
prompt-toolkit==2.0.10
psutil==5.6.5
ptyprocess==0.6.0
pycodestyle==2.5.0
Pygments==2.4.2
PyJWT==1.7.1
pylint==2.4.4
pyodbc==4.0.27
pyrsistent==0.15.5
python-daemon==2.1.2
python-dateutil==2.8.1
python-editor==1.0.4
python3-openid==3.1.0
pytz==2019.3
pytzdata==2019.3
PyYAML==5.1.2
pyzmq==18.1.1
qtconsole==4.6.0
requests==2.22.0
rise==5.6.0
Send2Trash==1.5.0
setproctitle==1.1.10
six==1.13.0
SQLAlchemy==1.3.10
tabulate==0.8.5
tenacity==4.12.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
text-unidecode==1.2
thrift==0.11.0
tornado==6.0.3
traitlets==4.3.3
typed-ast==1.4.1
tzlocal==1.5.1
unicodecsv==0.14.1
urllib3==1.25.6
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.16.0
widgetsnbextension==3.5.1
wrapt==1.11.2
WTForms==2.2.1
xmltodict==0.12.0
zipp==0.6.0
zope.deprecation==4.4.0
